<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static/CSS', filename='css/styles.css')}}">
	<style type="text/css">
		body{
			background-color:lightblue;
		}

		#choose_div{
			height:70px;
			background-color:lightblue;
			text-align:center;
		}

		#welcome_div{
			text-align:center;
			background-color:lightblue;
		}

	</style>
</head>
<body>
	<div id="welcome_div">
		<big><big><h1>WELCOME  TO  BLUE  LIGHT  WAVES  </h1></big></big>
	</div>
	<div id="choose_div">
		<big><big><big><label for="days">Hello please choose one </label></big></big></big>
		<br><br>
		<form action="" method="POST">
			<select id="d1" name="days">
				<option>Coose one of the following</option>
				<option>REGISTER</option>
				<option>SIGN IN</option>
			</select>
		</form>
	</div>
	<br>
</body>
</html>