<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<style type="text/css">
		body{
			background-color:deepskyblue;
		}

		#choose_div{
			height:70px;
			background-color:lightblue;
			text-align:center;
		}

		#welcome_div{
			text-align:center;
			background-color:lightblue;
		}
	</style>
</head>
<body>
	<div id="welcome_div">
		<big><big><h1>WELCOME  TO  BLUE  LIGHT  WAVES  </h1></big></big>
	</div>
	<div id="choose_div">
		<big><big><big><label for="days">Please choose one </label></big></big></big>
		<br><br>
		<div>
			<a href="http://127.0.0.1:5000/signin_page"><input type="button" name="signin" value="SIGN IN"></a>
			<br><br>
			<a href="http://127.0.0.1:5000/registeration_page"><input type="button" name="registeration" value="NEW REGISTERATION"></a>
		</div>
	</div>
	<br>
</body>
</html>