<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='static/css/main.css')}}" />
	<title>home_page</title>
	<style type="text/css">
		body{
			background-image:url({{url_for('static',filename='blue light waves  ai logo.jpg')}});
			background-size:cover;
			text-align:center;
		}

		h1,label{
			color:white;
		}

		#choose_div{
			height:70px;
			text-align:center;
		}

		#welcome_div{
			text-align:center;
		}

		#inp1{
			box-shadow:black 30px;
			height:40px;
			width:90px;
			color:blue;
			background-color:lightblue;
		}

		#inp2{
			height:40px;
			width:160px;
			color:blue;
			background-color:lightblue;
		}
	</style>
</head>
<body>
	<div id="welcome_div">
		<big><big><h1>WELCOME  TO  BLUE  LIGHT  WAVES  </h1></big></big>
	</div>
	<div id="choose_div">
		<big><big><big><label for="days">Please choose one </label></big></big></big>
		<br><br>
		<div>
			<a href="http://127.0.0.1:5000/signin_page"><input id="inp1" type="button" name="signin" value="SIGN IN"></a>
			<br><br>
			<a href="http://127.0.0.1:5000/registration_page"><input id="inp2" type="button" name="registration" value="NEW REGISTRATION"></a>
		</div>
	</div>
	<br>
</body>
</html>