<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>code_entry</title>
	<style type="text/css">
		body{
			background-image:url({{url_for('static',filename='CSS/blue light waves  ai logo.jpg')}});
			background-size:cover;
			text-align:center;
		}

		input{
			font-size:25px;
			font-weight:bold;
		}

		h1{
			color:white;
		}

	</style>
</head>
<body>
	<big><big><h1>Enter Code</h1></big></big>
	<form action="http://127.0.0.1:5000/submit_code" method="POST">
		<input type="password" name="code_entry" >
		<br><br>
		<input type="submit" name="submitcode">
	</form>
</body>
</html>

