
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>signin_page</title>
	<style type="text/css">
		body{
			background-color:deepskyblue;
			text-align:center;
			background-size:100% 100%;
			min-height:100vh;
			font-weight:bold;
		}

		h1{
			color:blue;
		}

		input{
			background-color:lightblue;
			font-size:20px;
			font-weight:bold;
		}

		::placeholder{
			color:blue;
		}

		#inpb{
			color:blue;
		}
	</style>
	<script type="text/javascript">
		function message(){
			alert("Please make sure your password consists of 7 or more characters...")
		}
	</script>
</head>
<body onload="message()">
	<big><big><big><h1>Registeration Page</h1></big></big></big>
	<form action="http://127.0.0.1:5000/register" method="POST">
		<input type="text" name="firstname" placeholder="ENTER FIRST NAME"><br><br>
		<input type="text" name="middlename" placeholder="ENTER MIDDLE NAME"><br><br>
		<input type="text" name="lastname" placeholder="ENTER LAST NAME"><br><br>
		<input type="text" name="gender" placeholder="ENTER GENDER"><br><br>
		<input type="number" name="contact" placeholder="ENTER CONTACT"><br><br>
		<input type="text" name="email" placeholder="ENTER EMAIL"><br><br>
		<input type="text" name="username" placeholder="ENTER USER NAME"><br><br>
		<input type="text" name="userpassword" placeholder="ENTER USER PASSWORD">
		<br><br>
		<input id="inpb" type="submit" name="button" value="Register">
	</form>
</body>
</html>