<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>signin_page</title>
	<style type="text/css">
		body{
			background-image:url({{url_for('static',filename='blue light waves  ai logo.jpg')}});
			background-size:cover;
			text-align:center;
			font-weight:bold;
		}

		input{
			font-size:25px;
			font-weight:bold;
		}

		h1,label{
			color:white;
		}
	</style>
</head>
<body>
	<big><big><big><h1>Sign in</h1></big></big></big>
	<br>
	<form action="http://127.0.0.1:5000/signin" method="POST">
		<h1><label for="username">User Name</label></h1>
		<input type="text" name="username" placeholder="Enter Name">
		<h1><label for="userpassword">User Password</label></h1>
		<input type="password" name="userpassword" placeholder="Enter Password">
		<br><br><br>
		<input type="submit" name="button" value="Sign in">
	</form>
	<br><br><br>
	<big><big><big><a href="http://127.0.0.1:5000/signin_to_registration"><input type="submit" name="button" value="New Registration"></a></big></big></big>
</body>
</html>